/* CSS Imports for prettier fonts etc */
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(https://fonts.googleapis.com/css?family=Fira+Code);
/*General CSS*/
/*Header CSS */
body
{
    background: #6D7074;
    font-family: monospace;

}
h1
{
    text-align: center;
    padding: 0px;
}
h2
{
    text-align: center;
    padding: 0px;
}
img
{
  width: 100%;
  height: auto;
  border: 3px dotted #c7d3de;
  border-radius: 3px;
}
/*Header CSS */
header
{
    color          : #55ff55;
    font-family    : monospace;
}
div#top-navbar-logo
{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
span.header
{

    font-size: 20px;
    margin-left: 20px;
    display: inline-block;
    margin-top: 15px;
    margin-right: 20px;
}
span.header-small
{

    font-size: 16px;
    margin-left: 20px;
    display: inline-block;
    margin-top: 23px;
    margin-right: 20px;
}
/*folders aka navbar */
.folders 
{
    width: 92%;
    margin: 20px auto;
    margin-bottom: 0px;
    background: #E0E8F0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    padding: 3px 20px 0px 50px;
    color: #c7d3de;
    font-family:monospace;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.window-button
{
    display: flex;
    flex-wrap: nowrap;
}
.button 
{
    width: 12px;
    height: 12px;
    margin: 6px;
    border-radius: 8px;
}
.button.green 
{
    background: #3BB662;
}
.button.yellow 
{
    background: #E5C30F;
}
.button.red 
{
    background: #E75448;
}

ul.navbar-list 
{
    display        : flex;
    justify-content: flex-end;
    list-style-type: none;
    -webkit-text-stroke-width: 1px;
    margin-bottom: auto; 
    width: 100%;
}
li.navbar
{
    border: 2px solid  #2d3030;
    border-bottom: 1px solid  #2d3030;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-right: 10px;
    margin-left: 10px;
    width:10%;
    font-size: 18px;
    margin-bottom: 10px;
    color:#2d3030;
}
li.navbar:hover
{
    background-color:  #17181850;
    cursor: pointer;
    color: #55ff55;
}
li.navbar.clicked
{
    background-color:  #17181850;
    color: #55ff55;
}
li.navbar a 
{
    color: inherit;
   font-family: monospace;
}
.terminal-text
{
    width: 100%;
    height: auto;
    margin:0px;
    padding: 0px;
    width: 100%;
    height: auto;
    border: 3px dotted #c7d3de;
    border-radius: 3px;
}
.main-terminal-window 
{
    width: 92%;
    margin: 50px auto;
    margin-top: -10px;
    background: #30353A;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    white-space: pre-wrap; 
    padding: 20px 20px 20px 50px;
    color: #c7d3de;
    counter-reset: step;
    counter-increment: step 0;
    .line {
      line-height: 1.4em;
      &:before {
        color: lighten(#232B2B, 50%);
        position: absolute;
        left: 3%;
        content: counter(step);
        counter-increment: step;
      }
    }
}
/*Home CSS */
/* Home image carousel */
    #welcome-carousel
    {
        margin: 0px;
        padding: 0px;
        position: relative; 
        display: flex;
    }

    #welcome-carousel img
    {
        margin:0px;
        padding: 0px;
        border-radius: 3px;
    }
    h1.image-floater-counter
    {
        font-family : monospace;
        position    : absolute;
        font-size   : 35px;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: white;
        font-weight : bolder;
        color       : #4f3c13;
        margin-left : calc(50% - 60px);
        top         : 80%;
    }
    button.image-floater-arrow
    {
    position         : absolute;
    text-align       : center;
    top              : 50%;
    left             : calc(5% -50px); 
    padding          : 5px;
    border           : none;
    background       : none;
    font-size        : 50px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    text-shadow : 1px 1px 0.5px #0e0d0d ;
    font-weight : bolder;
    color       : #4f3c13;
    }
    button.image-floater-arrow:hover
    {
        cursor           : pointer;
        font-size        : 56px;
    }
    .horizontally-stacked-terminal-text
    {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: 100%;
    }
    .service
    {
        width: 25%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 10px;
        text-align: center;
    }


/* footer CSS */
footer#social-media-footer
{
  padding     : 5px;
  display        : flex;
  justify-content: right;
  align-items    : center;
  flex-wrap      : wrap;
}
div.social-media-container
{
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  flex-wrap      : wrap;
}
a.social-media
{
  margin-left: 80px;
  text-decoration: none;
}
img.svg
{
  height: 20px;
  width: 20px;
  filter: invert(74%) sepia(74%) saturate(448%) hue-rotate(61deg) brightness(101%) contrast(101%);
  border:none;
  border-radius: 0px;
}
img.svg:hover
{
  cursor: pointer;
  height: 30px;
  width: 30px;
}

